html {
    font-family: Arial;
}

body {
    background: #d3abab;
}

h1+h2 {
    font-size: 2rem;
    text-decoration: solid;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}

.home {
    float: right;
    color: #333;
}

.video-flan {
    float: right;
}

.tittle {
    text-align: center;
    font-size: 3rem;
    text-decoration: solid;
}